.gallery-image-admin {
  padding: 20px;
  /* background-color: #f8f8f8; */
  border-radius: 8px;
}

.gallery-header {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.loading-text {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
}

.gallery-list {
  margin-bottom: 20px;
}

.list-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.image-list {
  list-style-type: none;
  padding: 0;
}

.image-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.view-button,
.delete-button {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.view-button {
  background-color: #4CAF50;
  color: white;
}

.view-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.delete-button:hover {
  background-color: #e53935;
}

.image-details {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.image-detail-thumbnail {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1rem;
  margin-bottom: 10px;
}

.input-text {
  padding: 8px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.update-button {
  padding: 10px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #45a049;
}

.add-image {
  margin-top: 30px;
}

.add-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.file-input {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-button1 {
  width: 35%;
  padding: 10px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button11:hover {
  background-color: #45a049;
}
