.favorites-container {
  position: relative;
  padding: 20px;
  text-align: center;
  width: 96vw;
  height: auto;
  margin-top: 10px;
}

.favorites-banner {
  background-image: url("https://imagev3.vietnamplus.vn/w1000/Uploaded/2024/fsmsy/2024_06_16/ttxvn-tre-em-gaza-1855.jpg.webp"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 500px; /* Set the height of the banner */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.favorites-banner h1 {
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds a shadow to make text stand out */
  margin: 0;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 1px solid #ccc;
}

.favorites-header {
  display: flex;
  width: 98%;
  justify-content: space-between;
  font-weight: bold;
  /* border-bottom: 2px solid #ddd; */
  padding: 10px;
  background-color: #f5f5f5;
  align-items: center;
}

.favorites-column {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.favorite-card {
  display: flex;
  width: 98%;
  justify-content: space-between;
  padding: 15px;

  margin: 10px;
  border-radius: 8px;
}

.favorite-card .favorites-column {
  text-align: left;
}

.remove-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: darkred;
}

.empty-message {
  font-size: 18px;
  color: gray;
}
