.ProgramDetail-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.ProgramDetail-donate-title {
  font-size: 30px;
  text-align: center;
  color: black;
}

.ProgramDetail-donate-description {
  font-size: 20px;
  text-align: center;
  color: #333;
  display: flex;
}

.ProgramDetail-target-amount,
.ProgramDetail-total-donated {
  font-size: 19px;
  text-align: center;
  color: #4caf50;
  display: flex;
}

.ProgramDetail-progress-container {
  background-color: #e0e0e0;
  height: 10px;
  border-radius: 5px;
}

.ProgramDetail-progress-bar {
  background-color: #4caf50;
  height: 100%;
  border-radius: 5px;
}

.ProgramDetail-progress-percentage {
  text-align: center;
  color: #4caf50;
  font-size: 19px;
}

.ProgramDetail-excess-amount {
  text-align: center;
  color: #f44336;
  font-size: 19px;
}

.ProgramDetail-donation-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.ProgramDetail-stat-box {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ProgramDetail-stat-box:hover {
  background-color: #f1f1f1;
}

.ProgramDetail-icon {
  font-size: 24px;
  color: #4caf50;
  margin-bottom: 10px;
}

.ProgramDetail-stat-label {
  font-size: 17px;
  color: #333;
}

.ProgramDetail-stat-value {
  font-size: 16px;
  color: #666;
}

.ProgramDetail-loading {
  text-align: center;
  font-size: 18px;
  color: #999;
}
