.give-top {
  height: 512px;
  margin-left: 0;
  background-color: #fff;
  float: left;
  width: 100%;
  display: block;
  clear: none !important;
  padding-bottom: 92px !important;
  padding-top: 92px !important;
  box-sizing: border-box;
}
.give-cta {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.give-container {
  flex-direction: row-reverse;
  overflow: unset;
  gap: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.give-asset {
  justify-content: flex-end;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.give-image {
  width: 100%;
  height: 100%;
}
.give-yt {
  background-image: url(https://img.youtube.com/vi/yL6BqGcxwl4/maxresdefault.jpg);
  width: 580px;
  /* height: 318px; */
  position: relative;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 0px rgba(0, 25, 54, 0.1);
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 56.25%;
}
.give-btn {
  /* background-image: url('../../../../clientlib-site/resources/images/icons/blue/atom_icon_play-circle@2x.svg'); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 59px;
  height: 59px;
  margin-top: -56.25%;
}
.give-btn i {
  margin-top: -56.25%;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 4rem;
  color: #49516f;
}
.give-content {
  display: flex;
  justify-content: space-between;
}
.give-ner {
  flex: 0 0 458px;
  width: 100%;
  /* margin: 608px; */
}
.give-tile p {
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  font-family: "arial-black";
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 32px;
  color: black;
  margin: 0;
}
.give-header {
  margin: 0;
  font-size: 33.18px;
  line-height: 37px;
  font-family: sofia-pro;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.give-header h4 {
  text-align: left;
  font-size: 35.18px;
  line-height: 37px;
  font-family: "arial-black";
  font-style: normal;
  text-decoration: none;
  margin: 0;
  color: black;
  font-weight: 600;
}
.give-night {
  text-align: left;
  font-size: 19.2px;
  line-height: 24px;
  font-family: "arial-black";
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #8db883;
  margin: 0;
}
.give-ton {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: "arial-black";
  color: #8db883;
}
.give-ton:hover {
  color: white;
}
.give-button {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
}
.give-cmp {
  padding-right: 46px;
  position: relative;
  font-family: sofia-pro;
  display: inline-block;
  border: 1px solid #8db883;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.375rem;
  padding-top: 12px;
  padding-left: 18px;
  padding-bottom: 12px;
  border-radius: 10px;
  background: white;
  color: #8db883;
  box-shadow: none;
  text-decoration: none;
  font: inherit;
}

.give-cmp:hover {
  background: #8db883;
  color: white;
}
.give-cmp {
  margin-right: 0px;
  position: relative;
}
.give-long {
  position: relative;
  right: -121px;
  top: 3px;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.give-youtube {
  color: #8db883;
  font-size: 4.125rem;
  line-height: 1.375rem;
}
/* Video Modal */
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.video-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  /* background-color: white; */
  padding: 20px;
  border-radius: 10px;
}

.video-container iframe {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
}
