.image-list-container {
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; */
    margin: 0 auto;
    text-align: center;
    width: 80%;
    
}

.image-list-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.image-list-button-add {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.image-list-button-add:hover {
    background-color: #45a049;
}

.image-list-loading, .image-list-error-message {
    text-align: center;
    font-size: 18px;
    color: #ff0000;
}

.image-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.image-list-table th, .image-list-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.image-list-table th {
    background-color: #f2f2f2;
}

.image-list-img {
    width: 100px;
    height: auto;
}

.image-list-button-edit, .image-list-button-delete {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.image-list-button-edit {
    background-color: #008CBA;
    color: white;
}

.image-list-button-edit:hover {
    background-color: #007bb5;
}

.image-list-button-delete {
    background-color: #f44336;
    color: white;
}

.image-list-button-delete:hover {
    background-color: #e60000;
}
