.form-container11 {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px; /* Bo góc mềm mại */
  margin-left: 1000px;
  margin-top: 250px;
  position: relative;
  overflow: hidden;
  font-family: "arial-black";
}
.form-container11::before {
  content: ""; /* Nội dung phải có */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/472907735_1171899264292465_3535676050286301289_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=m2qeBA47siMQ7kNvgGmiwHS&_nc_oc=AdhNI7RRcW-Nyef6YL8_gLxh3I41za05kRg0-A2Guabz3tue2Z25wFGiu60iDPxqg-M&_nc_zt=23&_nc_ht=scontent.fhan2-3.fna&_nc_gid=AmpBM195j5j29ANpFqLBvMy&oh=00_AYCYTxuQc3sHpQ-1PN-6hLcZE9mIFENIdLANouKv2pcVBw&oe=678C8BA6");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: blur(10px); /* Làm mờ nền */
  z-index: -1; /* Đảm bảo ảnh nền không che nội dung */
}
.body-forgotPassword1 {
  background-image: url("https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/472907735_1171899264292465_3535676050286301289_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=m2qeBA47siMQ7kNvgGmiwHS&_nc_oc=AdhNI7RRcW-Nyef6YL8_gLxh3I41za05kRg0-A2Guabz3tue2Z25wFGiu60iDPxqg-M&_nc_zt=23&_nc_ht=scontent.fhan2-3.fna&_nc_gid=AmpBM195j5j29ANpFqLBvMy&oh=00_AYCYTxuQc3sHpQ-1PN-6hLcZE9mIFENIdLANouKv2pcVBw&oe=678C8BA6");
  background-size: cover; /* Tự động co dãn để phủ hết màn hình */
  background-position: center center; /* Đặt hình ảnh ở giữa màn hình */
  background-attachment: fixed; /* Nền cố định khi cuộn trang */
  background-repeat: no-repeat; /* Không lặp lại hình ảnh nền */
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding: 0;
  z-index: -2;
  font-family: Arial, sans-serif;
}
.form-container11-h2 {
  color: white;
  text-align: center;
}
.form-container11-label {
  color: white;
}
.form-container11-input {
  width: 94%;
  padding: 10px;
  margin-top: 10px;
}
.btn-submit11 {
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.btn-submit {
  background-color: #e67e22; /* Màu cam đậm hơn khi hover */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-link {
  margin-top: 10px;
  display: block;
  color: #e67e22;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}
.form-group22 {
  font-family: "arial-black";
  color: white;
}
.form-group33 {
  font-family: "arial-black";
  font-family: "arial-black";
  width: 95%;
  /* height: 10px; */
  padding: 10px;
  margin-top: 10px;
}
.btn-submit11 {
  background: white;
  color: #8fb883;
  border: 1px solid #8fb883;
  padding: 10px;
  margin-top: 20px;
}
.btn-submit11:hover {
  background: #8fb883;
  color: white;
}
