/* DashBoard.css */
/* Main  */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
  position: relative;
  height: 100vh;
}

.main-title {
  display: flex;
  justify-content: space-between;
}
.main-title h3 {
  color: #8db883;
  font-size: 27px;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background: linear-gradient(
    to top,
    #e0f7fa,
    #84a8a9
  ); /* Từ xanh nhạt đến xanh đậm */
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.card:nth-child(2) {
  background: linear-gradient(
    to top,

    #fff8dc,
    #e1d5a3
  ); /* Từ xanh nhạt đến xanh đậm */
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.card:nth-child(3) {
  background: linear-gradient(
    to top,

    #d4edda,
    #97c2a1
  ); /* Từ xanh nhạt đến xanh đậm */
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.card:nth-child(4) {
  background: linear-gradient(to top, #f8b8d1, #d49fa8);
  /* Từ xanh nhạt đến xanh đậm */
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}
.number-product {
  text-decoration: none;
}

/* End Main  */

@media screen and (max-width: 992px) {
  .main-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .charts {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
