.footer {
  background-color: #0a2440;
  color: white;
  font-family: Arial, sans-serif;
  padding: 50px 20px;
  display: table;
  width: 97.34%;
}

.footer-container {
  /* max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  justify-content: space-between; /* Chia 2 bên */
  flex-wrap: wrap;
  gap: 30px;
}

.footer-left,
.footer-right {
  flex: 1; /* Chia đều 50% */
  min-width: 300px; /* Đảm bảo kích thước tối thiểu */
  text-align: left;
  /* padding-top: 20px; */
}

.footer-right {
  padding-left: 20px;
  padding-top: 20px;
}

.footer-logo {
  width: 20rem;
  padding-top: 5px;
  margin-bottom: 20px;
}

.footer-address {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 30px;
}

/* .footer-certifications {
  display: flex;
  gap: 15px;
  margin-top: 60px;} */

/* .certification-badge {
  width: 100px;
} */

.footer-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.footer-form input {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-form button {
  color: rgb(0 25 54);
  text-decoration: none;
  display: block;
  border: solid 1px transparent;
  white-space: nowrap;
  outline: 0;
  font-family: inherit;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.2s ease-out;
  line-height: 1.5;
  padding: 11px 23px;
  position: relative;
  font-size: 15px;
  margin-right: 440px;
}

.footer-form button:hover {
  background-color: #0056b3;
}

.footer-links-group {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  /* margin-right: 202px; */
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 40px;
  width: 100%;
}

.footer-links li {
  margin-bottom: 20px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
  font-size: 40px;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #ffffff40;
  padding-top: 20px;
}
/* .footer-links1{
  margin-left: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
} */
.footer-certifications {
  width: 406px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}

.certification-badge {
  /* width: 115px;  */
  /* width: 23.6%; */
  width: 31.6%;
  height: 130px;
  width: 115px;
  height: auto;
}
.certification-badge1 {
  margin-right: 77px;
  width: 23.6%;
  height: 100px;
}
.footer-container-inner {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 70px;
  padding-top: 15px;
}
.footer-123{
  margin-right: 5px;
  margin-left: 5px;
}
.footer-g{
  display: flex;
  align-items: center;
  color: white;
}
.footer-faphone{
  font-size: 1.4rem;
}
.face1{
  color: white;
  font-size: 1.5rem;
}
.program-icon-face{
  margin-right: 50px;
    display: flex;
    margin-top: 25px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
