/* Form.css */
.body-register {
  background-image: url("https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/472907735_1171899264292465_3535676050286301289_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=m2qeBA47siMQ7kNvgGmiwHS&_nc_oc=AdhNI7RRcW-Nyef6YL8_gLxh3I41za05kRg0-A2Guabz3tue2Z25wFGiu60iDPxqg-M&_nc_zt=23&_nc_ht=scontent.fhan2-3.fna&_nc_gid=AmpBM195j5j29ANpFqLBvMy&oh=00_AYCYTxuQc3sHpQ-1PN-6hLcZE9mIFENIdLANouKv2pcVBw&oe=678C8BA6"); /* Đường dẫn tới hình ảnh nền */
  background-size: cover; /* Tự động co dãn để phủ hết màn hình */
  background-position: center center; /* Đặt hình ảnh ở giữa màn hình */
  background-attachment: fixed; /* Nền cố định khi cuộn trang */
  background-repeat: no-repeat; /* Không lặp lại hình ảnh nền */
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding: 0;
  font-family: Arial, sans-serif;
  z-index: -2;
}
.form-register-left-right {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 50vw; */
  width: 50vw;
  display: flex;
  justify-content: center;
  padding: 50px;
  align-items: center;
  gap: 100px;
  position: relative;
  overflow: hidden; /* Ẩn phần dư thừa của pseudo-element */
  margin-left: -107px;
  margin-top: 57px;
}
.form-register-left-right::before {
  content: ""; /* Nội dung phải có */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/472907735_1171899264292465_3535676050286301289_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=m2qeBA47siMQ7kNvgGmiwHS&_nc_oc=AdhNI7RRcW-Nyef6YL8_gLxh3I41za05kRg0-A2Guabz3tue2Z25wFGiu60iDPxqg-M&_nc_zt=23&_nc_ht=scontent.fhan2-3.fna&_nc_gid=AmpBM195j5j29ANpFqLBvMy&oh=00_AYCYTxuQc3sHpQ-1PN-6hLcZE9mIFENIdLANouKv2pcVBw&oe=678C8BA6");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: blur(10px); /* Làm mờ nền */
  z-index: -1;
}
.form-register-left {
  width: 40%;
}
.form-register-right {
  width: 40%;
  margin-top: -70px;
}
.form-container-register {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  margin-right: 398px;
}

.register-h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}
.register-p {
  color: black;
  text-align: center;
  font-size: 0.9rem;
}
.register-img {
  width: 80%;
  top: 10px;
  margin-top: 25px;
  margin-left: 34px;
}
.form-register {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.form-group-register1 {
  /* margin-bottom: -85px;
  margin-left: -440px;
  margin-right: 594px;
  margin-top: 99px; */
}

.form-group-register1 label {
  font-size: 13px;
  color: white;
}

.form-group-register1 input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 95%;
  margin-top: 10px;
}

.form-group-register1 input:focus {
  outline: none;
  border-color: #49516f;
}
.form-group-register2 {
  /* margin-bottom: 73px;
  margin-left: -113px;
  margin-right: 260px;
  margin-top: -64px; */
}

.form-group-register2 label {
  font-size: 13px;
  color: white;
}

.form-group-register2 input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 95%;
  margin-top: 10px;
}

.form-group-register2 input:focus {
  outline: none;
  border-color: #49516f;
}
.form-group-register3 {
  /* margin-bottom: 234px;
  margin-left: 216px;
  margin-right: -58px;
  /* padding-left: 100px; */
  /* margin-top: -220px;  */
}

.form-group-register3 label {
  font-size: 13px;
  color: white;
}

.form-group-register3 input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 95%;
  margin-top: 10px;
}

.form-group-register3 input:focus {
  outline: none;
  border-color: #49516f;
}
.form-group-register4 {
  /* margin-bottom: 234px;
  margin-left: 561px;
  margin-right: -362px;
  /* padding-left: 100px; */
  /* margin-top: -385px; */
}

.form-group-register4 label {
  font-size: 13px;
  color: white;
}

.form-group-register4 input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 95%;
  margin-top: 10px;
}

.form-group-register4 input:focus {
  outline: none;
  border-color: #49516f;
}

.btn-submit-register {
  padding: 10px;
  background-color: white;
  color: #8db883;
  border: 1px solid #8db883;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 36px;
  margin-right: 63px;
  position: relative;
  margin-left: 27px;
  width: 20.5vw;
}

.btn-submit-register:hover {
  background-color: #8db883;
  color: white;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
/* .additional-links {
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} */
.conten-register {
  color: white;
  font-weight: 500;
}
.additional-links {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-right: 45px;
  position: relative;
  width: 23vw;
}

.additional-links a:hover {
  color: #8db883; /* Chuyển sang cam khi hover */
}
.login-link-register {
  color: #8db883;
  text-decoration: none;
}
.home-link-register {
  font-size: 14px;
  color: #49516f;
  text-decoration: none; /* Màu đen cho đường link quay lại trang chủ */
}
.form-register-button {
  margin-left: 350px;
  /* margin-bottom: 10px; */
  margin-top: -126px;
}

@media (max-width: 600px) {
  .form-container {
    width: 90%;
  }
}
