.news-container {
  /* max-width: 800px; */
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.news-container h1 {
  text-align: center;
  color: #333;
}

.news-form {
  align-items: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.news-form input,
.news-form textarea {
  margin-bottom: 15px;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.news-form button {
  padding: 10px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.news-form button:hover {
  background-color: #b1b7be;
}

.news-list {
  margin-top: 20px;
}

.news-list h2 {
  margin-bottom: 15px;
  text-align: center;
}

.news-list table {
  width: 100%;
  border-collapse: collapse;
}

.news-list table th,
.news-list table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.news-list table th {
  background-color: #f2f2f2;
}

.message {
  text-align: center;
  color: green;
  margin-top: 10px;
}

.error {
  text-align: center;
  color: red;
}

