.program-list {
  /* padding: 20px; */
  font-family: Arial, sans-serif;
}

.program-list  {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  padding-bottom: 25px;
  padding-top: 25px;
}

.program-grid {
  /* margin-right: 40px; */
  display: flex;
  justify-items: end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;

}

.program-card {
  display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.3s, box-shadow 0.3s;
      padding: 15px;
      background-color: #fff;
      width: 80%;
}

.program-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.program-image {
  height: 240px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px; /* Khoảng cách giữa ảnh và nội dung */
}

.program-image img {
  width: 100%;
  max-width: 250px; /* Đặt kích thước tối đa của hình ảnh */
  height: auto;
  border-radius: 8px;
}

.program-details {
  text-align: center; /* Căn giữa nội dung */
}

.program-details h2 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.program-details p {
  /* font-size: 0.9em; */
  color: #666;
  margin: 5px 0;
  text-align: left;
}

.program-details strong {
  color: #000;
}
.program-header{
  position: absolute;
  top: 90px;
  background-color: #fff;
  width: 100%;
}
.program-to2{
  margin-right: 60px;
  margin-left: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
  max-width: 100%;
}
.program-to3{
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.program-sidebar{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
   width: 25%;
   height: 479px;
}
.program-col{
  width: 75%;
  position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.program-to{
  height: auto;
}
.program-title {
 text-align: left;
 margin-top: 0px;
}
.program-border{
  border-top: 1px solid hsla(0, 0%, 56%, .25);
}
.program-categor{
  padding-left: 0px;
  list-style: none;
}
.program-categor li a{
  text-decoration: none;
  color: #000;
  font-size: 17px;
}
.program-li{
  margin-bottom: 25px;
}
.program-heart{
  font-size: 2rem;
}
.program-hear{
  width: 100%;
}

@media (max-width: 768px) {
  .program-card {
    padding: 10px;
  }

  .program-image img {
    max-width: 200px; /* Giảm kích thước ảnh trên màn hình nhỏ */
  }
}
