/* UserList.css */

/* General container styling */
.container_user {
  width: 80%;
  margin: 0 auto;
  text-align: center;/* Subtle shadow for depth */
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

/* Search input styling */
.user-search {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Table styling */
.user-list-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-list-table th,
.user-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.user-list-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.user-list-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-list-table tr:hover {
  background-color: #f1f1f1;
}

/* Button styling */
.user-list-button-editt {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}

.user-list-button-edit:hover {
  background-color: #0056b3;
}

.user-list-button-delete {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.user-list-button-delete:hover {
  background-color: #c82333;
}

/* Form modal styling */
.user-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.user-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  max-width: 500px;
  width: 100%;
  border: 1px solid #ddd; /* Added border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.user-form input,
.user-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.user-form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #218838;
}

.user-form .close-button {
  background-color: #dc3545;
  margin-left: 10px;
}

.user-form .close-button:hover {
  background-color: #c82333;
}

/* Pagination styling */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #f86d72;
  color: white;
  border-color: #f86d72;
}
