.fifty-left{
    padding-left: 120px;
    padding-right: 120px;
    grid-column: main;
    margin-bottom: max(75px, min(12.5vw, 120px));
}
.fifty-inner{
    align-items: flex-start;
    display: flex;
}
.fifty-image{
    margin-right: -50px;
    width: calc(50% + 50px);
    margin-bottom: 0;
    max-width: 685px;
    position: relative;
}
.fifty-image picture{
    display: block;
    max-width: 100%;
}
.fifty-img{
    height: auto;
    width: auto;
    display: block;
    max-width: 100%;
}
.fifty-content{
    padding-right: 100px;
    margin-left: -50px;
    margin-top: max(70px, min(8.75vw, 110px));
    padding: max(30px, min(3.75vw, 60px)) 60px 0 max(50px, min(6.25vw, 100px));
    width: calc(50% + 50px);
    align-self: stretch;
    background: #fff;
    position: relative;
}
.fifty-caps{
    text-align: left;
    text-transform: uppercase;
    font-size: max(1.5rem, min(4.8vw, 3rem));
    line-height: 1.2083333333;
    color: #000;
    font-family: Futura Pro;
    font-weight: 600;
    margin: 0 0 20px;
}
.fifty-caps h2{
    text-align: left;
}
.fifty-wysi p{
    text-align: left;
    margin-bottom: 0;
    line-height: 2;
    color: #333;
    font-size: max(1rem, min(3.2vw, 1.125rem));
    line-height: 1.625;
    margin: 0 0 20px;
}
.fifty-together{

}
.fifty-cta{
    text-align: left;
    margin-top: 25px;
}
.fifty-green{
    background: #0000;
    border: 3px solid #49516f;
    color: #000;
    padding: max(15px, min(3.6vw, 17px)) max(17px, min(4vw, 37px));
    display: inline-block;
    font-family: Lato;
    font-size: max(1rem, min(3.2vw, 1.125rem));
    font-weight: 700;
    letter-spacing: .0625rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .25s ease-in-out;
    cursor: pointer;
}
.fifty-sub{
    text-align: left;
    margin-top: 25px;
}
.fifty-sub a{
    box-shadow: inset 0 -2px 0 0 #49516f;
    color: #333;
    font-size: max(1.125rem, min(3.6vw, 1.25rem));
    font-weight: 700;
    padding-bottom: 2px;
    display: inline-block;
    text-decoration: none;
    transition: .25s ease-in-out;
    cursor: pointer;
}
.fifty-before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - max(4px, min(.5vw, 8px))) 100%, calc(100% - max(4px, min(.5vw, 8px))) max(4px, min(.5vw, 8px)), 0 max(4px, min(.5vw, 8px)));
    height: max(22px, min(2.5vw, 50px));
    width: max(22px, min(2.5vw, 50px));
    background: #005fb6;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
}