.list-cta {
  background: #fff;
  margin-left: 0;
  float: left;
  display: block;
  clear: none !important;
  box-sizing: border-box;
  padding-bottom: 92px !important;
  padding-top: 92px !important;
  width: 100%;
  height: 573px;
}
.list-image {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  height: 389px;
}
.list-ims {
  gap: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}
.list-asset {
  height: 350px;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-img {
  width: 100%;
  height: 100%;
}
.list-img img {
  height: 100%;
  object-fit: contain;
  box-shadow: none;
  border-radius: 20px;
  max-width: 535px;
  max-height: 350px;
  display: block;
  vertical-align: middle;
}
.list-hero {
  display: flex;
  flex-basis: 50%;
}
.list-content {
  max-width: 608px;
  width: 100%;
  flex: 0 0 458px;
}
.list-phan1 p {
  font-size: 16px;
  line-height: 16px;
  font-family: sofia-pro;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 32px;
  color: black;
  margin: 0;
  text-align: left;
}
.list-phan2 {
  margin: 0;
  font-size: 33.18px;
  line-height: 37px;
  font-family: sofia-pro;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.list-phan2 h4 {
  font-size: 33.18px;
  line-height: 37px;
  text-decoration: none;
  margin: 0;
  color: black;
  font-weight: 600;
  font-family: "arial-black";
  font-style: normal;
  text-align: left;
}
.list-night {
  font-size: 19.2px;
  line-height: 24px;
  font-family: "arial-black";
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #8db883 !important;
  margin: 0;
  text-align: left;
}
.list-phan4 {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
}
.list-button {
  padding-right: 46px;
  position: relative;
  font-family: "arial-black";
  display: inline-block;
  border: 1px solid #8db883;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.375rem;
  padding-top: 12px;
  padding-left: 18px;
  padding-bottom: 12px;
  border-radius: 10px;
  background: white;
  color: #8db883;
  box-shadow: none;
  text-decoration: none;
  font: inherit;
}
.list-button:hover {
  background: #8db883;
  color: white;
}
.list-cmp {
  margin-right: 0px;
  position: relative;
  font-family: "arial-black";
}
.list-long {
  position: absolute;
  right: 16px;
  top: 13px;
}
/* .list-text {
  background: url(https://www.charitynavigator.org/etc.clientlibs/cn/clientlibs/clientlib-site/resources/images/cta/ctasubimage.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 125px;
  width: 150px;
  flex-shrink: 0;
} */
